# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://DB_NAME:DB_PASSWORD@localhost:5432/squirrel"
UPLOADTHING_TOKEN='someToken'

NEXT_PUBLIC_IMAGE_CDN_URL='https://UPLOADTHING_TOKEN.ufs.sh/f/'
NEXT_PUBLIC_FINGERPRINT='https://ipwho.is/'
NEXTAUTH_URL='http://localhost:3000'

AUTH_SECRET="somekey" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_projectName_key
STRIPE_SECRET_KEY=sk_projectName_key
STRIPE_WEBHOOK_SECRET=whsec_key

SMTP_HOST=smtp.gmail.com #gmail example
SMTP_PORT=587
SMTP_USER=yourmail.gmail.com
SMTP_PASSWORD=aaaa bbbb cccc dddd

#cron jobs
#https://1password.com/password-generator 
#vercel recommendation
#https://vercel.com/docs/cron-jobs/manage-cron-jobs?framework=nextjs-app

CRON_SECRET=7VaxtPNjUvG4nnmbUx3y 